{% extends "layout.jinja2" %}

{% block content %}
    <div class="logo">
        <img
        src="{{ url_for('static', filename='dist/img/logo.png') }}"
        alt="logo"
        />
    <div>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button
                type="button"
                class="close"
                data-dismiss="alert">
                x
            </button>
            {{ message }}
        </div>
    {% endfor %}

    <h1>Log In</h1> 