<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ title }}</title>
    <meta name="description" content="Add user authentication."/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <meta name="theme-color" content="#5eb9d7"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='dist/img/favicon.png') }}" type="image/x-icon"/>
    <meta property="og:site_name" content="Flask Login"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Blueprint"/>
    <meta property="og:description" content="Add user authentication"/>
    <meta property="og:url" content="https://github.com/danielcristho/flask-login"/>
    <meta property="twitter:title" content="{{ title }}"/>
    <meta property="twitter:description" content="Add user authentication"/>
    <meta property="twitter:url" content="https://twitter.com/chrstdan"/>
    <meta property="twitter:site" content="@chrstdan"/>
    <meta property="twitter:creator" content="@chrstdan"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image"






</head>

</html>